<h1>Bienvenido <%= @hero.nickname %></h1>
<h3>Lista de mensajes </h3>
<table>
  <thead>
    <td>Mensaje</td>
    <td>Fecha y hora</td>
  </thead>
  <% @messages.each do |message| %>
    <td><%= message.content %></td>
    <td><%= message.created_at %></td>
  <% end %>
</table>
